.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  
 background-image: url("Images/backroundImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  
}
.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
  align-items: center;
  display: flex;
}
